
// Mixins
@import "mixins";

// Vars
@import "vars";



html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
}

b,
strong {
  font-weight: normal;
}

p {
  margin: 0; 
}


h1,
h2,
h3,
h4,
h5,
h6 {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;   
}

ol, 
ul { 
  margin: 0; 
  padding: 0;

  & li { 
    margin: 0; 
    padding: 0; 
    list-style-type: none;
    list-style-image: none;
  }
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}


* {
  -webkit-box-sizing: border-box;   
  -moz-box-sizing: border-box;       
  -ms-box-sizing: border-box;       
  box-sizing: border-box;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; 
}

select {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  outline: none;
  border: 0;
  cursor: pointer;
  box-sizing: border-box;
}

input { 
  border: 0; 
}

button { 
  border: 0; 
}


i {
  font-family:'FontAwesome';
  font-style: normal;
}

.section {
  margin: 0px auto;
  float: none;
  clear: both;
  
  &--1188 { 
     width: 1188px;
     margin: 0px auto;
     float: none;
  }

  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
}

