
@mixin transition($transition...) {
  // defining prefixes so we can use them in mixins below
  $prefixes:      ("-webkit", "-ms", "-o",  "");
  @each $prefix in $prefixes {
    #{$prefix}-transition: $transition;
  }
  transition: $transition;
}


@mixin transform($transform...) {
  // defining prefixes so we can use them in mixins below
  $prefixes:      ("-webkit", "-ms", "-o",  "");
  @each $prefix in $prefixes {
    #{$prefix}-transform: $transform;
  }
  transform: $transform;
}


@mixin prefixer($property, $val){
  -webkit-#{$property}: $val;
  -moz-#{$property}: $val;
  -ms-#{$property}: $val;
  #{$property}: $val;
}


@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}


@mixin smallerThan($at) {
  @media only screen and (max-width: $at){
    @content;
  }
}
@mixin between($from, $to) {
  @media only screen and (min-width: $from) and (max-width: $to) {
    @content;
  }
}
@mixin biggerThan($at) {
  @media only screen and (min-width: $at){
    @content;
  }
}

@mixin maxHeight($at) {
  @media only screen and (max-height: $at){
    @content;
  }
}

@mixin maxAspectRatio($ar, $ar2) {
  @media only screen and (max-aspect-ratio: $ar "/" $ar2){
    @content;
  }
}



@mixin placeholder-general() {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}

@mixin placeholder() {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}


@mixin flexbox() {
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}


@mixin size($width, $height) {
  width: $width;
  height: $height;
}
