
$black 				: 	#000;
$blacklighter 	 	:	#504e42;
$blacklighter2 	 	:	#4f4c43;

$white 	 			:	#fff;

$greendark 	 		:	#1b3c43;
$greendarker 		:	#18363e;

$bluelight  		:	#0ca2bd;
$blue1  			:	#0a90a9;
$blue2  			:	#088299;
$blue3  			:	#0186a5;
$blue4  			:	#0390ae;
$blue5  			:	#0899b8;
$blue6  			:	#0eadcb;
$blue7  			:	#11b6d4;
$blue8  			:	#15c0de;
$blue9  			:	#173156;
$blue10  			:	#0892ae;
$blue11  			:	#22acc8;
$bluebright  		:	#0093be;
$bluelightest  		:	#e7f6f9;
$bluedark  			:	#122746;
$bluedark2  		:	#10293f;

$greydarker  		:	#4f4c43;
$greydarker2  		:	#1b6662;
$greylight  		:	#4a6368;
$greylight2  		:	#d8d8ce;
$greylighter  		:	#eaeae8;
$greylighter2  		:	#227e7b;
$greylighter3  		:	#848484;
$greylighter4  		:	#d2d2d0;
