
// Reset styles
@import "base/normalize";

// base
@import "base/base";

// Mixins
@import "base/mixins";

// Vars
@import "base/vars";

// MainNav
@import "NavMain";


html {
  font-size: 62.5%;
  height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif, 'Arial';
    font-size: 1.4rem;
    background: $white;
    font-weight: 400;
    height: 100%;
    background: -moz-linear-gradient(to left, #1B406C 0%, #207F79 100%);/* FF3.6+ */
    background: -webkit-gradient(linear, to left, color-stop(0%, 1B406C), color-stop(100%, 207F79));/* Chrome,Safari4+ */
    background: -webkit-linear-gradient(to left, #1B406C 0%, #207F79 100%);/* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(to left, #1B406C 0%, #207F79 100%);/* Opera 11.10+ */
    background: -ms-linear-gradient(to left, #1B406C 0%, #207F79 100%);/* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
    background: linear-gradient(to left, #1B406C 0%, #207F79 100%);/* W3C */
}

.header {
  background: $greendark;
  border-bottom: 2px solid $greendarker;

  & .section { 
    padding-bottom: 25px; 
  }
}

.mainlogo {
  margin-top: 18px; 
  margin-right: 50px;
  float: none;
  display: inline-block;
}

.main-wrapper {
   min-height: 100%; 
}

.main {
  width: 100%;
  float: left;
  padding-bottom: 192px;
}

#root {
  height: 100%;
}

.container {
  float: none;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
    
  &--white { 
    background: $white;   
  }

  &--rounded { 
     border-radius: 8px;  
  }
}


.grad-greenblue-darker {
  background: -moz-linear-gradient(to left, #153657 0%, #1A6662 100%);/* FF3.6+ */
  background: -webkit-gradient(linear, to left, color-stop(0%, 153657), color-stop(100%, 1A6662));/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(to left, #153657 0%, #1A6662 100%);/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(to left, #153657 0%, #1A6662 100%);/* Opera 11.10+ */
  background: -ms-linear-gradient(to left, #153657 0%, #1A6662 100%);/* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
  background: linear-gradient(to left, #153657 0%, #1A6662 100%);/* W3C */
}

.checkbox-item {
  position: relative;
  & label { 
    font-weight: 400; 
    color: $white;
    font-size: 16px;
    vertical-align: top;
  }

  // &.checked::before { 
  //    visibility: visible;
  // }

  // &::before { 
  //   position: absolute;
  //   font-family: 'FontAwesome';
  //   font-style: normal;
  //   content: "\f00c";
  //   top: 10px;
  //   left: 4px;
  //   z-index: 2;
  //   font-size: 11px;
  //   line-height: 0;
  //   color: $greylighter2;
  //   visibility: hidden;
  //   @include transition(all .3s ease); 
  // }
}

.checkbox {
  margin-right: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 7.5px;
  vertical-align: top;
  box-sizing: border-box;
  float: none;
  display: inline-block;
  border-radius: 3px;     

  &--grey { 
    & { 
      color: $blacklighter;
      border: 2px solid $greendark;
      -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=0, Color=#FFFFFF)";/*IE 8*/
      -moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.3);/*FF 3.5+*/
      -webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.3);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
      box-shadow: 0 0 0 1px rgba(255,255,255,0.3);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
      filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=135, Color=#FFFFFF); /*IE 5.5-7*/
      background: $greylighter;    

      &:checked { 
        background: $greylighter url("../images/check.jpg") no-repeat 2.2px 3.2px;  
      }
    }
  }
}

.inputrnd {
  float: none;
  display: inline-block;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 8px 10px;  
  vertical-align: top; 
  font-size: 16px;

  &--grey { 
    color: $blacklighter;
    border: 2px solid $greendark;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=0, Color=#FFFFFF)";/*IE 8*/
    -moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.3);/*FF 3.5+*/
    -webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.3);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0 0 0 1px rgba(255,255,255,0.3);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=135, Color=#FFFFFF); /*IE 5.5-7*/
    background: $greylighter;
  }
}

.select {
  float: none;
  display: inline-block;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 8px 10px;  
  font-size: 16px;

  &--grey { 
    color: $blacklighter;
    border: 2px solid $greendark;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=0, Color=#FFFFFF)";/*IE 8*/
    -moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.3);/*FF 3.5+*/
    -webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.3);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0 0 0 1px rgba(255,255,255,0.3);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=135, Color=#FFFFFF); /*IE 5.5-7*/
    background: $greylighter url("../images/arrow_black_10x6.png") no-repeat right 12px center;
  }
}

.btn-rnd {
  float: none;
  display: inline-block;
  text-transform: uppercase;
  padding: 5px 25px 6px 5px;
  border-radius: 20px;
  cursor: pointer;
  letter-spacing: 0.8px;

  & span { 
    margin-top: 6px; 
    float: none;
    display: inline-block;
  }

  &--green { 
    color: $white;
    background: $greylighter2;

    & i { 
      color: $white;
      background: $greydarker2;
    }
  }

  & i { 
    // @include size(15px, 15px);
     border-radius: 50%;
     padding: 5px 7px 4px 7px;
     box-sizing: border-box;
     margin-right: 14px;
     display: inline-block;
  }
}
 
.footer {
  width: 100%;
  float: left;
  color: $white;
  background: $blue9;
  position: relative;
  top: -148px;

  &__section { 
    @include flexbox(); 
    align-items: stretch;
  }

  &__block { 
    float: none;
    display: inline-block; 

    &--1 { 
      width: 40.4%;
      position: relative;
      z-index: 2;
      padding: 16px 20px 40px 2px;
      letter-spacing: 0.5px;

      &::before {
        width: 100000%;
        height: 100%;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: auto;
        bottom: 0;
        z-index: 0;
        background: -moz-linear-gradient(to left, #163E58 0, #1A5B5F 100%);/* FF3.6+ */
        background: -webkit-gradient(linear, to left, color-stop(0, 163E58), color-stop(100%, 1A5B5F));/* Chrome,Safari4+ */
        background: -webkit-linear-gradient(to left, #163E58 0, #1A5B5F 100%);/* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(to left, #163E58 0, #1A5B5F 100%);/* Opera 11.10+ */
        background: -ms-linear-gradient(to left, #163E58 0, #1A5B5F 100%);/* IE10+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
        background: linear-gradient(to left, #163E58 0, #1A5B5F 100%);/* W3C */
      }

      & .footer__item { 
        width: 458px;
        float: right; 
        position: relative;
        z-index: 2;
      } 
    }

    &--2 { 
      width: 39.3%;
      @include flexbox(); 
      align-items: stretch;
      flex-direction: column;

      & .blck-smlico:first-child { 
         border-bottom: 1px solid #10243f; 
      }

      & .blck-smlico:last-child { 
         border-top: 1px solid #293d58; 
      }
    }

    &--3 { 
      padding: 17px 20px 10px 24px;
      letter-spacing: 0.5px;
    }
  }

  &__item { 
    color: $white;
    text-decoration: underline;
    margin-bottom: 11px;
    float: left;
    display: block;
    clear: both;
  }

  &__items2 { 
    width: 475px;
    position: absolute;
    bottom: 18px;
    right: 0;
  }

  &__item2 { 
    float: none;
    display: inline-block;
    margin-right: 19px;
    color: $white;
    text-decoration: underline;
  }

  &__copyr { 
    float: none;
    display: inline-block;
    margin-right: 15px;
    color: $white;
  }
}

.blck-smlico {
  width: 100%;
  height: 100%;
  @include flexbox(); 
  align-items: stretch;
  background: $bluedark;
  color: $white;
  padding: 15px 20px 16px 0px;
  box-sizing: border-box;
  font-size: 16px;

  &--2 { 
     padding: 12px 20px 19px 0px;
  }

  &__col { 
    width: 100%;

    &.first { 
      width: 102px;
      text-align: center;
      & i::before { 
        font-size: 35px; 
      }
    } 
  }

  &__colleft { 
    float: left; 
  }

  &__item { 
    float: left;
    clear: left; 
    margin-bottom: 2px;
    margin-top: 1px;
    font-size: 16px;
  }

  &__item2 { 
    float: right;
    color: $white;
    margin-top: 11px;

     & svg.fa-sync { 
        @include size(13px, 13px);
        margin-right: 2px;
        position: relative;
        top: 1px;
     }
  }
  
}