// Mixins
@import "base/mixins";

// Mixins
@import "base/vars";


.clist {
  width: 100%;
  float: left;

  &__section { 
    padding-top: 22px;
    padding-bottom: 44px;
    @include flexbox();
    align-items: stretch;
    font-size: 0;
  }

  &__filter { 
    width: 100%;
    float: left;
    padding: 17px 0px 19px 0px;
    border-top: 3px solid #164454;
  }

  &__sidebar { 
    width: 20.2%;
    float: left;
    padding-right: 16px;
    box-sizing: border-box;

    & > div { 
      min-height: 100%; 
    }
  }

  &__main { 
    width: 79.8%;
    float: right;
  }

  &__thead { 
    width: 100%;
    float: left; 
    @include flexbox();
    flex-direction: row;
  }

  &__tbody { 
    width: 100%;
    float: left; 
  }

  &__itemrow { 
    width: 100%;
    float: left; 
    @include flexbox();
    cursor: pointer;
    border-bottom: 1px solid $greylighter;
    background: $white;

    &.active { 
       background: $bluelightest;

        & .c-6 { 
          & i { 
             background: $blue7;

             &::before { 
               color: #fff; 
             }
          }
       }
    }
  }

  & .c-1 { 
     width: 18.5%;
  }

  & .c-2 { 
     width: 15.2%;
  }

  & .c-3 { 
     width: 15%;
  }

  & .c-4 { 
     width: 24.4%;
  }

  & .c-5 { 
     width: 17.5%;
  }

  & .c-6 { 
     width: 9.4%;
  }

  &__lbl { 
    float: none;
    display: inline-block; 
    font-weight: 600;
    color: $white;
    padding: 16px 9px 15px 20px;
    box-sizing: border-box;
    font-size: 16px;
    

    &.name { 
      cursor: pointer;
    } 

    &.c-1 { 
      padding-left: 46px;
      background: $blue3;
      border-top-left-radius: 8px;
      border-right: 1px solid #007893;

      &.dsc, 
      &.asc { 
        & i { 
          visibility: visible;
          @include transform(translate3d(0px, 0px, 0px));
        }
      }

      &.dsc { 
        & i { 
           @include transform(rotate(180deg));
        }
      }

       & i { 
          float: right;
          visibility: hidden;
          font-weight: 400;
          position: relative;
          top: 2px;
          @include transform(translate3d(0px, -5px, 0px));
          @include transition(all .3s ease); 
          font-size: 14px;
       }
    }

    &.c-2 { 
      border-left: 1px solid #1a92ad;
      border-right: 1px solid #03809c;
      background: $blue4;
    }

    &.c-3 { 
      border-left: 1px solid #20a3bf;
      border-right: 1px solid #0689a5;
      background: $blue5;
    }

    &.c-4 { 
      border-left: 1px solid #25b5cf;
      border-right: 1px solid #0fa3bf;
      background: $blue6;
    }

    &.c-5 { 
      border-left: 1px solid #11b6d4;
      border-right: 1px solid #0fa3bf;
      background: $blue7;
      text-align: right;
      padding-right: 19px;
    }

    &.c-6 { 
      border-left: 1px solid #2cc6e0;
       background: $blue8;
       border-top-right-radius: 8px;
       border-right: 0;
    }
  }

  &__cell {
    float: none;
    display: inline-block;
    padding: 13px 10px 12px 22px;
    box-sizing: border-box;
    color: $blacklighter;
    font-size: 16px;

    &.c-1 { 
      padding-left: 0px;

       & i { 
          margin-right: 18px;
          margin-left: 15px;
          font-size: 14px;
          position: relative;
          top: -2px;
       }
    }

    &.c-5 { 
       text-align: right;
       padding-right: 19px;
       padding-left: 0;
    }

    &.c-6 { 
          padding: 9px 0px 0px 10px;
       & i { 
          @include size(25px, 25px);
          margin-right: 8px;
          display: inline-block;
          padding-bottom: 5px;
          border-radius: 8px;
          background: transparent;
          position: relative;

          &::before { 
            position: absolute;
            top: 3px;
            left: 6px;
          }
       }
    }

    & i {
      &::before { 
         color: $blacklighter;  
      } 
    }
  }
}
