// Mixins
@import "base/mixins";

// Mixins
@import "base/vars";

.block-pic {

  &__sec { 
    padding: 13px; 
  }

  &--white { 
    background: $white;   
  }

  &--rounded { 
     border-radius: 8px;  
  }

  &__imgwrp { 
    text-align: center; 
  }

  &__img { 
    @include size(200px, auto);
    max-width: 100%;
    height: auto;
    float: none;
    display: inline-block;
    border-radius: 50%;
    box-sizing: border-box;
    margin-bottom: 15px;

    &--grey { 
      border: 4px solid #d8d8ce;
    }
  }

  &__items { 
    width: 100%;
    float: left;
  }

  &__item { 
    width: 100%;
    float: left;
    margin-bottom: 13px;
    color: $blacklighter2;
    font-size: 14px;

    & span { 
      width: 36%;
      float: left;
      position: relative;
      color: $greylighter3;
      padding-right: 9px;
      box-sizing: border-box;
      text-align: right;

      &::after {
        content: ":" }
    }

    & div { 
      width: 64%; 
      float: left;
      word-break: break-all;
    }

    & a { 
       color: $bluebright; 
    }
  }
}