// Mixins
@import "base/mixins";

// Vars
@import "base/vars";


.filter {
	& form { 
		float: none;
		display: inline-block; 
	}

	& .form-item { 
		margin-right: 18px;
		float: none;
		display: inline-block; 
		vertical-align: top;

		& input[type=text] { 
			@include placeholder(){
				color: $blacklighter;
			}
		}

		&.checkbox-item { 
			 margin-top: 9px;
		}

		&.cities-item { 
			margin-right: 23px; 
		}
	}

	& .add-contract { 
		float: right; 
	}

	& #sortbyname { 
		 min-width: 223px;
	}
	
	& #cities { 
		min-width: 162px;
	}
}