// Vars
@import "base/vars";

.main-nav {
	float: none;
	display: inline-block;
	vertical-align: top;
	margin-top: 27px;
	margin-right: 15px;
	background: $bluelight;
	border-radius: 20px;
	padding: 2px 0px;

	& li { 
	 	float: none;
	 	display: inline-block; 
	 	vertical-align: top;
	 	border-right: 1px solid $blue1;

	 	&.first a { 
	 		 border-top-left-radius: 20px;
	 		 border-bottom-left-radius: 20px;
	 		 padding-left: 7px;
	 	} 

	 	&.last { 
	 		border-right: 0; 
	 		
	 		& a { 
		 		border-top-right-radius: 20px;
		 		border-bottom-right-radius: 20px;	
		 		padding-right: 7px; 
	 		}
	 		
	 	}

	 	& a { 
	 		width: 151px;
	 		text-transform: uppercase;
	 		display: block; 
	 		color: $white;
	 		padding: 9px 0px 8px 0px;
	 		margin: 0px 2px;
	 		letter-spacing: 1px;
	 		text-align: center;

	 		&:hover {
				background: -moz-radial-gradient(50% 50%, circle cover, #178795 0, #167684 100%);/* FF3.6+ */
				background: -webkit-radial-gradient(50% 50%, circle cover, #178795 0, #167684 100%);/* Chrome10+,Safari5.1+ */
				// background: -o-radial-gradient(50% 50%, circle cover, #178795 0, #167684 100%);/* Opera 11.10+ */
				// background: -ms-radial-gradient(50% 50%, circle cover, #178795 0, #167684 100%);/* IE10+ */
				// background: radial-gradient(50% 50%, circle cover, #178795 0, #167684 100%);/* W3C */
	 		}
	 	}
	} 
}