// Vars
@import "base/vars";

// Mixins
@import "base/mixins";


.main-search {
	float: none;
	display: inline-block;
	position: relative;
	vertical-align: top;
	margin-top: 27px;
	border-radius: 20px; 
	background: $greylighter;
	vertical-align: top;
	border: 2px solid $greendark;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=0, Color=#FFFFFF)";/*IE 8*/
	-moz-box-shadow: 0 0 0 1px rgba(255,255,255,0.3);/*FF 3.5+*/
	-webkit-box-shadow: 0 0 0 1px rgba(255,255,255,0.3);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
	box-shadow: 0 0 0 1px rgba(255,255,255,0.3);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=135, Color=#FFFFFF); /*IE 5.5-7*/

	&__btn { 
		@include size(34px, 33px);
		float: none;
		display: inline-block;
		border-top-right-radius: 20px; 
		border-bottom-right-radius: 20px;
		background: $greylight2; 
		border-left: 1px solid $greylighter4;
		cursor: pointer;
		vertical-align: top;

		& i { 
			color: $greydarker; 
			position: relative;
		    top: -1px;
		    left: -1px;

		    &::before { 
		    	font-size: -2px; 
		    }
		}
	}

	& input { 
		@include size(188px, 33px);
		overflow: hidden;
		float: none;
		display: inline-block;
		border-radius: 20px; 
		border-top-right-radius: 0;
  		border-bottom-right-radius: 0; 
  		background: $greylighter;
		padding: 5px 13px 5px 12px;
		vertical-align: top;
		font-size: 16px;
	}
}