
// Mixins
@import "base/mixins";

// Vars
@import "base/vars";


.user-bar {
	float: right;
	position: relative;
	padding-left: 24px;

	& i { 
		color: $white; 
		float: none;
		display: inline-block;
		vertical-align: top;
	}

	&__title { 
		color: $white; 
		background: $bluelight; 
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		padding: 9px 0px 9px 10px;
		cursor: pointer;
		position: relative;
		z-index: 2;
		font-size: 16px;

		& i.fa-user { 
			margin-right: 13px;
			font-size: 14px;
			position: relative;
			top: 2px;
			left: 1px;
		}

		& i.fa-sort-down { 
			float: right; 
			line-height: 0;
			margin-top: 5px;
			margin-left: 20px;
			@include prefixer(transform-origin, center center)
			@include transition(all .3s ease); 
			margin-right: 9px;
			font-size: 14px;

			&::before { 
				height: 4px;
    			display: inline-block; 
			}		

			&.up { 
				@include transform(rotate(-180deg)); 
			}
		}
	}

	&__tooltip { 
		width: 100%;
		position: absolute;
		top: 52px;
		right: 0;
		z-index: 0;
		background: $bluelight; 
		border: 2px solid $blue2;
		border-radius: 5px;
		border-top-right-radius: 0px;
		@include opacity(0);
		@include transform(translate3d(0px, -20px, 0px));
		@include transition(all .25s ease); 
		visibility: hidden;

		&.visible {
			visibility: visible;
			@include opacity(1); 
			@include transform(none);
		}
	}

	&__item { 
		display: block; 
		color: $white; 
		padding: 8px 10px 10px 8px;
		border-bottom: 1px solid $blue10;
		border-top: 1px solid $blue11;
		font-size: 16px;

		&:first-child { 
			border-top: 0;	 
		}
		&:last-child { 
			border-bottom: 0; 
		}

		& i { 
			margin-right: 8px;
		}
	}
}


.clip {
	position: relative;
	background: #0ca2bd;
}

.clip::after,
.clip::before {
	bottom: 100%;
	right: 20px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.clip::after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #0ca2bd;
	border-width: 10px;
	margin-right: 0px;
}

.clip::before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #088299;
	border-width: 13px;
	margin-right: -3px;
}